{% extends 'base.html.twig' %}

{% block title %}Liste des tâches
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
{% endblock %}

{% block body %}

	<div class="container mt-5">
		<table class="table table-striped tabled-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Date Effective</th>
				<th>Catégorie</th>
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td>{{ task.name }}</td>
							<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
							<td>{{ task.tag.name }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
$('#tasksTable').DataTable();
});
	</script>
{% endblock %}
