{% extends 'base.html.twig' %}

{% block title %}Liste des tâches
{% endblock %}

{% block body %}

	<div class="container">
		<table class="table table-striped tabled-bordered" id="tasksTable">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Date Effective</th>
			</thead>
			<tbody>
				{% if tasks is defined %}
					{% for task in tasks %}
						<tr>
							<th scope="row">{{ task.id }}</th>
							<td>{{ task.name }}</td>
							<td>{{ task.dueAt | date('d/m/Y H:i') }}</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}
