{% extends 'base.html.twig' %}
{% block body %}
	<div class="container mt-5 ">
		<div class="row">
			<div class="col text-center">
				<img id="facing" src="{{ asset('img/liste-de-taches.jpg') }}" class="imgfluid">
				<div id="slogan">It is time for us to buckle down !</div>
			</div>
		</div>
	</div>
{% endblock %}
